/* Custom CSS
-------------------------*/
div.logo {
    background: url([[setting:logo]]) 0 0 no-repeat;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

img.small-logo {
    float: left;
    height: 35px;
    margin: 3px 10px 3px 0;
}

@media (max-width: 767px) {
    img.small-logo {
        margin: 3px;
    }
}

@media (max-width: 480px) {
    .navbar img.small-logo {
        max-width: 150px;
    }
    /* Applying accesshide styles */
    .navbar .small-logo-container + .brand {
        position: absolute;
        left: -10000px;
        font-size: 1em;
        font-weight: normal;
    }
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


/* Set height of body and the document to 100% */

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#Home {background-color: red;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}
/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
